@{
    ViewData["Title"] = "Register";
}


<div class="login-wrapper">
    <div class="register">
        <div class="register-decoration"></div>
        <div class="register-form">
            <p class="register-label">LABBOOK</p>
            <h1 class="register-title">Register</h1>
            <div class="form-wrapper">
                <form method="POST" asp-controller="register" asp-action="index" autocomplete="off">
                    <div class="input-wrapper">
                        <label class="label" for="name">Name</label>
                        <input class="input" type="name" id="name" name="name" value="@(ViewBag != null && ViewBag.user != null&& ViewBag.user.name != null?ViewBag.user.name:"")" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.name != null)
                        {
                            <div class="error">@(ViewBag.errors.name[0])</div>
                        }
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="surname">Surname</label>
                        <input class="input" type="surname" id="surname" name="surname" value="@(ViewBag != null && ViewBag.user != null&& ViewBag.user.surname != null?ViewBag.user.surname:"")" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.surname != null)
                        {
                            <div class="error">@(ViewBag.errors.surname[0])</div>
                        }
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="email">Email Address</label>
                        <input class="input" type="email" id="email" name="email" value="@(ViewBag != null && ViewBag.user != null&& ViewBag.user.email != null?ViewBag.user.email:"")" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.email != null)
                        {
                            <div class="error">@(ViewBag.errors.email[0])</div>
                        }
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="password">Password</label>
                        <input class="input" type="password" id="password" name="password" value="@(ViewBag != null && ViewBag.user != null&& ViewBag.user.password != null?ViewBag.user.password:"")" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.password != null)
                        {
                            <div class="error">@(ViewBag.errors.password[0])</div>
                        }
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="confirmPassword">Confirm Password</label>
                        <input class="input" type="password" id="confirmPassword" name="confirmPassword" value="@(ViewBag != null && ViewBag.user != null&& ViewBag.user.confirmPassword != null?ViewBag.user.confirmPassword:"")" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.confirmPassword != null)
                        {
                            <div class="error">@(ViewBag.errors.confirmPassword[0])</div>
                        }
                    </div>
                    <button class="action" type="submit">Register</button>
                    <p class="login-link">Already have an account? <a href="/Login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
