<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Labbook</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Prompt" />


</head>
<body>
    <header>
            @using System.Security.Claims;
            @{
                string controller = (string)ViewContext.RouteData.Values["controller"];
                string action = (string)ViewContext.RouteData.Values["action"];
                bool isAuthenticated = Context.User.Identity.IsAuthenticated;
                string role = "";
                if (isAuthenticated) role = Context.User.Claims.Where(claim => claim.Type ==
                ClaimTypes.Role).FirstOrDefault().Value;
                <nav class="@(isAuthenticated ? "navbar" : "navbar-anonymous")">
                    @if (isAuthenticated)
                    {
                        <img class="logo" src="~/image/goLabLint.png" alt="goLabLint logo" />
                    }
                    else
                    {
                        @* <form class="home-search">
                    <input type="text" placeholder="ค้นหาอุปกรณ์">
                    <button type="submit"></button>
                    </form> *@
                    }
                    <a class="@((controller == "Home" ?"current-page": "")+ (!isAuthenticated ? "-anonymous navbar-anonymous": " navbar"))"
                       asp-controller="home" asp-action="index" asp-area="">หน้าแรก</a>
                    <a class="@((controller == "Equipment" ?"current-page": "") + (!isAuthenticated ? "-anonymous navbar-anonymous": " navbar"))"
                       asp-controller="@(role!="Admin"?"equipment":"admin")" asp-action="@(role!="Admin"?"index":"equipment")"
                       asp-area="">อุปกรณ์</a>
                    @if (role != "Admin")
                    {
                        <a class="@((controller == "Other" ?"current-page": "") + (!isAuthenticated ? "-anonymous navbar-anonymous": " navbar"))"
                           asp-controller="other" asp-action="index" asp-area="">ห้องปฏิบัติการอื่น</a>
                    }
                    else
                    {
                        <a class="@((controller == "Admin"  && action == "BorrowingList" ?"current-page": "") + (!isAuthenticated ? "-anonymous navbar-anonymous": " navbar"))"
                           asp-controller="admin" asp-action="borrowing-list" asp-area="">การจอง</a>
                    }
                    @if (isAuthenticated)
                    {
                        <div class="user">
                            <div class="user-description">
                                <p class="user-name">
                                    @(Context.User.Claims.Where(claim => claim.Type ==
                        ClaimTypes.Name).FirstOrDefault().Value + " " + Context.User.Claims.Where(claim => claim.Type ==
                        ClaimTypes.Surname).FirstOrDefault().Value)
                                </p>
                                <p class="user-id">@(role == "Admin" ? "อาจารย์" : "นักศึกษา")</p>
                            </div>
                            <div class="user-dropdown">
                                <img class="user-profile" onclick="myFunction()" src="~/image/default profile.jpg"
                                     alt="user profile" />
                                <div id="myDropdown" class="user-dropcontent hide">
                                    @if (role != "Admin")
                                    {
                                        <a asp-controller="history" asp-action="index"
                                           asp-asp-route-id="@(Context.User.Claims.Where(claim => claim.Type ==ClaimTypes.NameIdentifier).FirstOrDefault().Value)"
                                           class="history">ประวัติการจอง</a>
                                        <hr>
                                    }
                                    <a asp-controller="login" asp-action="logout" class="logout">ออกจากระบบ</a>
                                </div>
                            </div>
                        </div>
                    }
                </nav>}
        </header>
    </header>

    @RenderBody()


    <footer class="border-top footer text-muted">


        <div class="container">
            &copy; 2021 - Labbook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.6.2.min.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("JavaScript", required: false)




</body>
</html>