@model IEnumerable<RealLabBook.Models.Tool>

@{
    ViewData["Title"] = "History";
}

<div class="his-wrapper">
    <table class="history-table">
        <tr>
            <th class="equipment">@Html.DisplayNameFor(model => model.ToolID)</th>
            <th class="status">@Html.DisplayNameFor(model => model.Toolname)</th>
            <th class="start">@Html.DisplayNameFor(model => model.Quantity)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToolID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toolname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>

                <a asp-action="Edit" asp-controller="Tools" asp-route-id="@item.ToolID">Edit</a>
                    
                </td>
            </tr>
        }
    </table>
</div>
@section JavaScript
{
    <script>
        var input = document.getElementById("text-input");
        var UserID;
        getItemid();
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("input-btn").click();
            }
        });

        function getInputValue() {
            var inputVal = document.getElementById("text-input").value;
            document.getElementById('print-text').innerHTML = inputVal;
            window.location.href = "/Bookings/History?UserID=" + inputVal;
        }

        function getItemid() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            UserID = urlParams.get("UserID");
            document.getElementById('print-text').innerHTML = UserID;
        }


    </script>
}